/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-primary: #69a4e5;
  --color-accent: #4338ca;
  --color-highlight: #22c55e;
  --color-base: #0f172a;

  --font-mono: "Space Mono", monospace;
}

html {
  color-scheme: dark;
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.metal {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, #fff 0, rgba(53, 53, 53) 120%);
}

om-dotpattern svg {
  mask-image: radial-gradient(
    200vw circle at center,
    transparent,
    #fff
  ) !important;
}

om-cryptic-text p {
  display: inline-block;
}
