/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-accent: #4338ca;
  --color-highlight: #22c55e;
  --color-base: #0f172a;
}

html {
  color-scheme: dark;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom, #fff 0, rgba(53, 53, 53) 95%);
}

om-dotpattern svg {
    mask-image: radial-gradient(200vw circle at center, transparent, #fff) !important;
  }
